@for $i from 8 through 32 {
    .fs-#{$i} {
      font-size: #{$i}px !important;
    }
  }
  @for $i from 0 through 5 {
    .raduis-#{$i} {
      border-radius: #{$i*5}px !important;
    }
  }

  @for $i from 0 through 15 {
  .max-lines-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: #{$i}; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
}